.tt {
    -webkit-box-shadow: 2px 2px 3px black;
    box-shadow: 2px 2px 3px black;
		position: absolute;
    background-color: whitesmoke;
    border: solid black 1px;
    padding: 5px;
    font: bold 10pt sans-serif;
}






